.popin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popin-inner {
    position: relative;
    padding: 32px;
    width: 375px;
    height: 366px;
    background-color: white;
    background-color: #00070c;
    border: 2px, solid, white;
    color: #f3f2f7;

}

.popup-inner .close-popin {
    position: absolute;
    top: 16px;
    right: 16px;
}