.Frame_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;

    height: 100px;

    flex: none;
    order: 8;
    flex-grow: 0;
}

.Frame_1 > p {
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.Socials {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

.Social {
box-sizing: border-box;
align-items: center;
padding: 8px;

width: 40px;
height: 40px;

border: 2px solid #F3F2F7;
border-radius: 20px;
}

/* .Social > img {
text-align: center;
} */