body{
  margin: 0;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  gap: 32px;
  position: relative;
  /* height: 2416.13px; */
  background: #08070C;
  font-family: 'Fjalla One', sans-serif;
}

h1{
  margin: 0;
}

p{
  margin: 0;
}