@import "../../index.scss";

.slider {
width: 35rem;
display: flex;
flex-direction: column;
}

.container-top-slider {
  width: 100%;

}

.slide > img {
  height: auto;
  width: 100%;
}

.slide-container{
  width: 80%;
}

.container-bot-slider {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}

.container-bot-slider > .description > p {
  @include small;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}

.navigation > button {
  padding: $w1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
