.slider {
    width: 100%;
    height: 20rem;
  
    order: 3;
  }
  .container-image-slider {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    overflow-x: scroll;

    width: 100%;
    position: absolute;
    margin-left: -32px;
  }
  
  .container-image-slider > img {
    width: 100%;
    height: 20rem;
  }