:root{
  --div_gap: 16px;
  --flex_grow_none: 0;
}

.slider {
    width: 100%;
    height: 20rem;
  
    order: 3;
  }
  .container-image-slider {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    overflow-x: scroll;

    width: 100%;
    position: absolute;
    margin-left: -32px;
  }
  
  .container-image-slider > img {
    width: 100%;
    height: 20rem;
  }

.Slider{
display: flex;
align-items: flex-start;
padding: 0px;
gap: var(--div_gap);


width: 375px;
height: 320px;
overflow-x: scroll;

order: 3;
flex-grow: var(--flex_grow_none);
}

.image_3_slider{
    width: 320px;
    height: 320px;

    flex: none;
    order: 0;
    flex-grow: var(--flex_grow_none);
}
.image_4_slider{
    width: 640px;
    height: 320px;

    flex: none;
    order: 1;
    flex-grow: var(--flex_grow_none);
}
.image_5_slider{
    width: 320px;
    height: 320px;

    flex: none;
    order: 2;
    flex-grow: var(--flex_grow_none);
}
